# SERVER
PORT=3000
NODE_ENV=production

# SQL SERVER (Windows)
DB_SERVER=192.168.1.11
DB_PORT=1433
DB_DATABASE=LilaGroupMenu
DB_USER=sa
DB_PASSWORD=Ata2230404.
DB_ENCRYPT=false

# EMAIL (Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=metehan@gmail.com
EMAIL_PASSWORD=abcd efgh ijkl mnop
EMAIL_FROM=noreply@lilagroup.com
EMAIL_TO=metehan@gmail.com

# CORS
CORS_ORIGIN=https://menu.lilaglobal.com.tr
VITE_BACKEND_URL=https://menu.lilaglobal.com.tr

OTP_ENABLED=false

GOOGLE_MAPS_API_KEY=AIzaSyB8u5gq0rpG41s7JwhzKvZyCeJzorQ_U2w

# Docker için özel ayarlar
UPLOAD_PATH=/app/server/uploads
LOG_PATH=/app/logs
